* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    width: 100%;
    height: 100vh;
    justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    background-color: rgb(54, 54, 54);
    color: white;
    border-radius: 20%;
    margin: 10px;
    padding: 10px;
}

h2,
h3,
h4,
h5,
h6 {
    animation: animateHello 1s linear infinite;
}

@keyframes animateHello {
    100% {
        transform: translateY(30px);
    }
}