* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    width: 100%;
    height: 100vh;
    justify-content: center;
}

.cancelAll {
    position: absolute;
    background-color: white;
    padding: 5px 5px 5px 5px;
    border-radius: 30px;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    right: 40px;
    top: 5px;
}

.cancel {
    float: right;
    border-radius: 30px;
    background-image: url("hurt-quote-e1601974566521.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    text-align: center;
    font-weight: bold;
    animation: animateHello 1s linear infinite;
    position: absolute;
    right: 0;
}

.cancel1 {
    font-size: 24px;
}

.cancel2 {
    font-size: 21px;
}

.cancel3 {
    font-size: 18px;
}

.cancel4 {
    font-size: 15px;
}

.cancel5 {
    font-size: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    background-color: rgb(54, 54, 54);
    color: white;
    border-radius: 20%;
    margin: 10px;
    padding: 10px;
}

h2,
h3,
h4,
h5,
h6 {
    animation: animateHello 1s linear infinite;
    display: grid;
}

/* @keyframes animateHello {
    100% {
        transform: translateY(30px);
    }
} */